<header>
  <h1>Olá</h1>
  <p>Alguma coisa</p>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/list">List</a>
    <a routerLink="/emitter">Emitter</a>
    <a routerLink="/pipe-operators">Pipe Operations</a>
    <a routerLink="/two-way-binding">Two Way Data Biding</a>
    <a routerLink="/events">Events</a>
    <a routerLink="/parent-data">Parent Data</a>
    <a routerLink="/if-render">If Render</a>
    <a routerLink="/list-colors">List Colors</a>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <p>footer</p>
</footer>